.from-new1 {
    --tw-gradient-from: #d3defa;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(211, 222, 250, 0));
  }
  
  .to-new2 {
    --tw-gradient-to: #ffd8d9;
  }
  
  #logo_center {
  top: 3%;
  left: 38%;
  }

  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

    #bg-grandient{

      height:1150px;
    }

    #bg-empty{
        height:200px;
      
    }

    #footer{
        background-size: 100% 100%;
    }